<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149980039369-mi8d3e6prasblj8g40pnqodutbr3ua1n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149980039369-mi8d3e6prasblj8g40pnqodutbr3ua1n</string>
	<key>API_KEY</key>
	<string>AIzaSyCI8gtMdWlHijcxswLfQd_SXc9YZoTKCwo</string>
	<key>GCM_SENDER_ID</key>
	<string>149980039369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gamapp</string>
	<key>PROJECT_ID</key>
	<string>gameapp-594c5</string>
	<key>STORAGE_BUCKET</key>
	<string>gameapp-594c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149980039369:ios:a5badd904e067faa0aa518</string>
</dict>
</plist>